
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: ivory;
  color: #31343d;
}

/* Header Section */
header {
  display: flex;
  background-color: #31343d;
  height: 10vh;
  padding: 10px 20px 10px 0px;
}

header .title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: #92cbcd;
  width: 40%;
  height: 100%;
  padding-right: 1%;
}

header .title h1 {
  font-size: 2em;
  margin-left: auto;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 40%;
  margin-left: auto;
}

header nav a {
  color: #92cbcd;
  margin: 5px;
}

/* Hero */
figure {
  background-image: url("./assets/images/screenshot.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  position: relative;
  filter: brightness(80%);
}

figure .subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #92cbcd;
  width: 30%;
  position: absolute;
  bottom: 20px;
  right: 40px;
  padding: 1%;
}

figure .subtitle h1 {
  font-size: 2em;
}

/* Main Section */
main {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  color: #5d6e8a;
}

section {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

section h1 {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  width: 100px;
  text-align: right;
  align-items: flex-end;
  padding-right: 20px;
}

section > div {
  padding-left: 20px;
  border-left: 5px solid #5d6e8a;
}

/* About Section */
#about div img {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 300px;
  border: 5px solid#31343d;
  
}

/* Work Section */
#work div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
}

.feature {
  width: 100%;
  position: relative;
}

.link {
  width: 49%;
  margin-bottom: 10px;
  position: relative;
}

.img:hover {
  filter: brightness(100%);
}

.img {
  border: 5px solid #92cbcd;
  height: auto;
  width: 100%;
  filter: brightness(75%);
}

.subtitle {
  position: absolute;
  left: 0;
  bottom: 10%;
  color: #92cbcd;
  background-color: #31343d;
  text-decoration: none;
  padding: 20px;
}

.subtitle h3 {
  font-size: 2vw;
}

.feature {
  width: 100%;
}

/* Contact Section */
#contact div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

#contact div a {
  color: #5d6e8a;
  margin: 5px;
  padding: 5px;
  font-size: 2vw;
  text-decoration: none;
  border-bottom: 5px solid #5d6e8a;
  transition: all 0.3s ease-in;
}

#contact div a:hover {
  color: #92cbcd;
  background-color: #5d6e8a;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }

  header .title,
  header nav {
    width: 100vw;
  }

  header .title h1 {
    margin: 0 auto;
  }

  figure .subtitle {
    width: 80%;
    margin: 0 auto;
  }

  main {
    width: 100%;
    padding: 0px 10px;
  }

  #contact div {
    flex-direction: column;
  }

  #contact div a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .link {
    width: 100%;
  }
}






